.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
  //   height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  // margin-top: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #303245;
  border-radius: 10px;
  border: 0;
  outline: 0;
  transition: box-shadow 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    box-shadow: 0 2px 8px #03e9f4;
  }
}

.cut {
  position: absolute;
  left: 23px;
  top: -24px;
  width: 144px;
  height: 20px;
  opacity: 0;
  background-color: #15172b;
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  opacity: 1;
}

.label {
  position: absolute;
  top: 6px;
  left: 26px;
  padding: 10px 0;
  line-height: 14px;
  pointer-events: none;
  color: #fff;
  transform-origin: 0 50%;
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .label {
  color: #808097;
}

// ---------------Validation-----------------
//  -------- VALID --------
div .input:required:valid,
div .label:required:valid {
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;

  & ~ .label {
    color: green;
  }
}
//  ------ INVALID --------
div .input:focus:invalid,
div .label:focus:invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;

  & ~ .label {
    color: red;
  }
}

.input:focus ~ .label {
  color: #03e9f4;
}
