.list {
  box-sizing: border-box;
  max-width: 500px;
  min-height: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  // box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  // background-color: #15172b;
  // border-radius: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #303245;
  border-radius: 20px;
  padding: 8px 20px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
